.vector-icon {
    width: 3.644rem;
    position: relative;
    height: 1.85rem;
}

.subtract-1 {
    width: 33.125rem;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.left {
    position: relative;
    line-height: 1.75rem;
}

.buttonleft {
    flex: 1;
    border-radius: var(--br-9xs) 0px 0px var(--br-9xs);
    background-color: var(--colors-blue-blue-700);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-5xs) var(--padding-xs);
}

.buttonmiddle {
    flex: 1;
    background-color: var(--colors-blue-blue-700);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-5xs) var(--padding-xs);
}

.buttonmiddle1 {
    background-color: var(--colors-blue-blue-700);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-5xs) var(--padding-xs);
}

.buttonright {
    flex: 1;
    border-radius: 0px var(--br-9xs) var(--br-9xs) 0px;
    background-color: var(--colors-blue-blue-700);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-5xs) var(--padding-xs);
}

.buttongroup {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.header {
    align-self: stretch;
    background-color: var(--colors-blue-blue-700);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: var(--space-spacing-4) 10.375rem;
    gap: var(--space-spacing-12);
    text-align: center;
    font-size: var(--body-base-text-size);
}

.hello {
    position: relative;
    letter-spacing: -0.02em;
}

.button1 {
    position: relative;
    line-height: 1.125rem;
    font-weight: 600;
}

.button {
    border-radius: 6px;
    background-color: var(--yellow-500);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-base) 1.5rem;
    font-size: var(--body-base-text-size);
}

.heroes {
    align-self: stretch;
    height: 52.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-spacing-5);
}

.introduction-child {
    width: 13.125rem;
    position: relative;
    border-radius: var(--radius-radius-xl);
    height: 17.5rem;
    object-fit: cover;
}

.my-name-is {
    position: relative;
    font-weight: 600;
}

.wrapper {
    position: relative;
    background-color: var(--yellow-500);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--space-spacing-2);
    box-sizing: border-box;
    text-align: left;
    font-size: var(--bold-h1-heading-size);
    color: var(--default-white);
    font-family: var(--bold-h1-heading);
}

.im-a-uiux {
    position: relative;
    font-size: var(--body-base-text-size);
    line-height: 1.75rem;
}

.my-name-is-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--space-spacing-5);
}

.introduction {
    align-self: stretch;
    background-color: var(--blue-600);
    height: 25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--space-spacing-7);
    font-size: var(--semi-bold-h2-heading-size);
}

.check-out-this-previous-works-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: var(--space-spacing-5);
}

.previous-works {
    align-self: stretch;
    background-color: var(--blue-600);
    height: 40.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--semi-bold-h5-heading-size);
}

.experiences-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.striped-rowsdark-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #343a40;
}

.striped-rowsdark-item {
    position: absolute;
    height: 24.14%;
    width: 99.73%;
    top: 26.11%;
    right: 0.27%;
    bottom: 49.75%;
    left: 0%;
    background-color: var(--color-darkslategray-200);
}

.striped-rowsdark-inner {
    position: absolute;
    height: 24.14%;
    width: 99.73%;
    top: 75.37%;
    right: 0.27%;
    bottom: 0.49%;
    left: 0%;
    background-color: var(--color-darkslategray-200);
}

.div {
    position: absolute;
    top: 8.87%;
    left: 1.8%;
    font-weight: 800;
    color: var(--stroke-light);
}

.div1 {
    position: absolute;
    top: 33.99%;
    left: 1.8%;
    font-weight: 800;
}

.mark {
    position: absolute;
    top: 32.02%;
    left: 16.98%;
    line-height: 1.75rem;
}

.otto {
    position: absolute;
    top: 32.02%;
    left: 34.14%;
    line-height: 1.75rem;
}

.mdo {
    position: absolute;
    top: 32.02%;
    left: 59.75%;
    line-height: 1.75rem;
}

.jacob {
    position: absolute;
    top: 56.16%;
    left: 16.98%;
    line-height: 1.75rem;
}

.thornton {
    position: absolute;
    top: 56.16%;
    left: 34.14%;
    line-height: 1.75rem;
}

.fat {
    position: absolute;
    top: 56.16%;
    left: 59.75%;
    line-height: 1.75rem;
}

.larry {
    position: absolute;
    top: 79.31%;
    left: 16.98%;
    line-height: 1.75rem;
}

.the-bird {
    position: absolute;
    top: 79.31%;
    left: 34.14%;
    line-height: 1.75rem;
}

.twitter {
    position: absolute;
    top: 79.31%;
    left: 59.75%;
    line-height: 1.75rem;
}

.div2 {
    position: absolute;
    top: 58.13%;
    left: 1.8%;
    font-weight: 800;
}

.div3 {
    position: absolute;
    top: 81.28%;
    left: 1.8%;
    font-weight: 800;
}

.first {
    position: absolute;
    top: 8.87%;
    left: 17.16%;
    font-weight: 800;
}

.last {
    position: absolute;
    top: 8.87%;
    left: 34.14%;
    font-weight: 800;
}

.handle {
    position: absolute;
    top: 8.87%;
    left: 59.75%;
    font-weight: 800;
}

.line-div {
    position: absolute;
    height: 0.49%;
    width: 99.82%;
    top: 50.49%;
    right: 0.22%;
    bottom: 49.01%;
    left: -0.04%;
    border-top: 1px solid var(--color-darkslategray-100);
    box-sizing: border-box;
}

.striped-rowsdark-child1 {
    position: absolute;
    height: 0.49%;
    width: 99.82%;
    top: 75.12%;
    right: 0.22%;
    bottom: 24.38%;
    left: -0.04%;
    border-top: 1px solid var(--color-darkslategray-100);
    box-sizing: border-box;
}

.striped-rowsdark-child2 {
    position: absolute;
    height: 0.99%;
    width: 99.91%;
    top: 25.62%;
    right: 0.18%;
    bottom: 73.4%;
    left: -0.09%;
    border-top: 2px solid var(--color-darkslategray-100);
    box-sizing: border-box;
}

.striped-rowsdark {
    width: 69.563rem;
    position: relative;
    height: 12.688rem;
    font-size: var(--body-base-text-size);
    font-family: var(--font-inter);
}

.experiences {
    align-self: stretch;
    background-color: var(--blue-600);
    height: 40.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: var(--space-spacing-12) 0rem;
    box-sizing: border-box;
    gap: var(--gap-xl);
}

.for-more-inquiries-parent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0rem var(--space-spacing-12);
    gap: var(--space-spacing-5);
}

.contact-me {
    align-self: stretch;
    background-color: var(--blue-600);
    height: 25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0rem var(--space-spacing-12);
    box-sizing: border-box;
    font-size: var(--semi-bold-h2-heading-size);
}

.header-parent {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    font-size: var(--bold-h1-heading-size);
    color: var(--default-white);
    font-family: var(--bold-h1-heading);
}

.video-background-holder {
    position: relative;
    background-color: black;
    height: calc(100vh - 72px);
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.video-background-holder video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.video-background-content {
    position: relative;
    z-index: 2;
}

.video-background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}